In [1]:
'''
## Importing necessary set of libraries and packages
'''

import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import pandas_datareader as pdr

In [3]:
'''
## Fetching the stock- price data for Apple and Google Stocks, from 2023-01-01 till date
'''

prices_df = yf.download(["AAPL", "GOOG"], start= "2023-01-01")

print(prices_df.head())

[*********************100%***********************]  2 of 2 completed

Price                       Adj Close                  Close             \
Ticker                           AAPL       GOOG        AAPL       GOOG
Date
2023-01-03 00:00:00+00:00  123.768463  89.480247  125.070000  89.699997
2023-01-04 00:00:00+00:00  125.045036  88.492683  126.360001  88.709999
2023-01-05 00:00:00+00:00  123.718987  86.557426  125.019997  86.769997
2023-01-06 00:00:00+00:00  128.271103  87.944031  129.619995  88.160004
2023-01-09 00:00:00+00:00  128.795563  88.582458  130.149994  88.800003

Price                            High                    Low             \
Ticker                           AAPL       GOOG        AAPL       GOOG
Date
2023-01-03 00:00:00+00:00  130.899994  91.550003  124.169998  89.019997
2023-01-04 00:00:00+00:00  128.660004  91.239998  125.080002  87.800003
2023-01-05 00:00:00+00:00  127.769997  88.209999  124.760002  86.559998
2023-01-06 00:00:00+00:00  130.289993  88.470001  124.889999  85.570000
2023-01-09 00:00:00+00:00  133.410004  90.830002  129.889999  88.580002

Price                            Open                Volume
Ticker                           AAPL       GOOG       AAPL      GOOG
Date
2023-01-03 00:00:00+00:00  130.279999  89.830002  112117500  20738500
2023-01-04 00:00:00+00:00  126.889999  91.010002   89113600  27046500
2023-01-05 00:00:00+00:00  127.129997  88.070000   80962700  23136100
2023-01-06 00:00:00+00:00  126.010002  87.360001   87754700  26612600
2023-01-09 00:00:00+00:00  130.470001  89.195000   70790800  22996700

In [4]:
## Converting datetime index to date format

prices_df.index = prices_df.index.date

## Keep the adjust close

prices_df = prices_df['Adj Close']

prices_df.head()

Ticker            AAPL       GOOG
2023-01-03  123.768463  89.480247
2023-01-04  125.045036  88.492683
2023-01-05  123.718987  86.557426
2023-01-06  128.271103  87.944031
2023-01-09  128.795563  88.582458

In [5]:
returns_df = prices_df.pct_change()

returns_df.head()

Ticker          AAPL      GOOG
2023-01-03       NaN       NaN
2023-01-04  0.010314 -0.011037
2023-01-05 -0.010605 -0.021869
2023-01-06  0.036794  0.016019
2023-01-09  0.004089  0.007259

In [7]:
returns_df = returns_df.dropna()

returns_df.head()

Ticker          AAPL      GOOG
2023-01-04  0.010314 -0.011037
2023-01-05 -0.010605 -0.021869
2023-01-06  0.036794  0.016019
2023-01-09  0.004089  0.007259
2023-01-10  0.004457  0.004955

In [8]:
'''
## Calculating the Statistical parameters of the returns
'''

print("Mean of the returns: ", returns_df.mean())

print("Standard Deviation of the returns: ", returns_df.std(axis = 0))

Mean of the returns:  Ticker
AAPL    0.001363
GOOG    0.001576
dtype: float64
Standard Deviation of the returns:  Ticker
AAPL    0.013675
GOOG    0.018166
dtype: float64

In [9]:
print(returns_df.std(axis = 1))

2023-01-04    0.015097
2023-01-05    0.007965
2023-01-06    0.014690
2023-01-09    0.002242
2023-01-10    0.000352
                ...
2024-11-11    0.016801
2024-11-12    0.005246
2024-11-13    0.013723
2024-11-14    0.022039
2024-11-15    0.003819
Length: 471, dtype: float64

In [ ]:
'''
## Calculations of volatility
'''

deviations_df = returns_df - returns_df.mean()

print(deviations_df.head())

squared_deviations_df = deviations_df **2

print(squared_deviations_df.head())

Ticker          AAPL      GOOG
2023-01-04  0.008951 -0.012613
2023-01-05 -0.011967 -0.023446
2023-01-06  0.035431  0.014443
2023-01-09  0.002726  0.005683
2023-01-10  0.003094  0.003378
Ticker          AAPL      GOOG
2023-01-04  0.000080  0.000159
2023-01-05  0.000143  0.000550
2023-01-06  0.001255  0.000209
2023-01-09  0.000007  0.000032
2023-01-10  0.000010  0.000011

In [ ]:
variance = squared_deviations_df.mean()

print("", variance)

print("Volatility of the returns:", np.sqrt(variance))

Ticker
AAPL    0.000187
GOOG    0.000329
dtype: float64
Volatility of the returns: Ticker
AAPL    0.013660
GOOG    0.018147
dtype: float64

In [13]:
'''
## Calculations of annualized returns
'''

annualized_vol = returns_df.std() * np.sqrt(252)

print(annualized_vol)

Ticker
AAPL    0.217081
GOOG    0.288377
dtype: float64

In [14]:
returns_per_day = (returns_df + 1).prod()**(1/returns_df.shape[0]) - 1

print("Aggregated Returns calculated pro-day basis", returns_per_day)

Aggregated Returns calculated pro-day basis Ticker
AAPL    0.001270
GOOG    0.001412
dtype: float64

In [15]:
annualized_return = (returns_per_day + 1)**252 - 1

print(annualized_return)

Ticker
AAPL    0.376828
GOOG    0.426862
dtype: float64

In [17]:
'''
## Sharpe Ratio
'''

risk_free_rate = 0.03

excess_return = annualized_return - risk_free_rate

sharpe_ratio = excess_return / annualized_vol

print("Sharpe Ratio:", round(sharpe_ratio, 2))

Sharpe Ratio: Ticker
AAPL    1.60
GOOG    1.38
dtype: float64