In [1]:
'''
## Importing necessary sets of libraries and dependencies
'''

import pandas as pd
import numpy as np
import scipy.stats as stats
import yfinance as yf

In [2]:
'''
## Fetching the historical Stock Data for MRF from yahoo finance
'''

ticker = "MRF.NS" ## MRF ticker symbol specification

data = yf.download(ticker, start= '2023-01-02', end = '2024-02-27') ## Fetching the historical data

## Display of dataset entities 

print(data.head())

[*********************100%***********************]  1 of 1 completed

                    Open          High           Low         Close  \
Date
2023-01-02  88600.000000  88745.351562  87879.703125  88051.203125
2023-01-03  88397.898438  89121.000000  87962.703125  88876.148438
2023-01-04  88892.000000  89073.546875  87398.000000  88012.250000
2023-01-05  88500.000000  91900.000000  88441.953125  91275.796875
2023-01-06  91580.000000  93400.000000  90557.796875  93141.500000

               Adj Close  Volume
Date
2023-01-02  87772.820312    4248
2023-01-03  88595.156250    4793
2023-01-04  87733.984375    7515
2023-01-05  90987.210938   22626
2023-01-06  92847.015625   28710

In [3]:
'''
## Applying Z-scores computations on the stock data
'''

data.apply(stats.zscore)

                Open      High       Low     Close  Adj Close    Volume
Date
2023-01-02 -0.997973 -1.024822 -1.001974 -1.028793  -1.029810 -0.571522
2023-01-03 -1.009825 -1.003208 -0.997027 -0.980506  -0.981765 -0.489743
2023-01-04 -0.980849 -1.005939 -1.030690 -1.031073  -1.032079 -0.081296
2023-01-05 -1.003837 -0.843314 -0.968458 -0.840046  -0.842010  2.186165
2023-01-06 -0.823216 -0.757009 -0.842328 -0.730840  -0.733351  3.099092
...              ...       ...       ...       ...        ...       ...
2024-02-20  2.506190  2.438467  2.530017  2.516867   2.512866 -0.230600
2024-02-21  2.526481  2.545293  2.623634  2.578904   2.574874  0.670923
2024-02-22  2.556154  2.542146  2.635738  2.606915   2.602793 -0.108456
2024-02-23  2.612364  2.582709  2.704110  2.639723   2.635494 -0.069442
2024-02-26  2.652563  2.570037  2.544658  2.502155   2.498378  2.430603

[284 rows x 6 columns]

In [4]:
data.apply(stats.zscore).describe()

,Open,High,Low,Close,Adj Close,Volume
count,2.840000e+02,2.840000e+02,2.840000e+02,2.840000e+02,284.000000,2.840000e+02
mean,-2.501911e-16,-3.502675e-16,-4.503440e-16,4.503440e-16,0.000000,4.691083e-18
std,1.001765e+00,1.001765e+00,1.001765e+00,1.001765e+00,1.001765,1.001765e+00
min,-1.390882e+00,-1.372565e+00,-1.389431e+00,-1.382288e+00,-1.381373,-9.307504e-01
25%,-8.224355e-01,-7.864964e-01,-8.499698e-01,-8.196739e-01,-0.821740,-5.816880e-01
50%,-1.796033e-01,-1.913237e-01,-1.602377e-01,-1.701286e-01,-0.169152,-2.519074e-01
75%,2.987709e-01,2.880016e-01,2.607991e-01,2.908605e-01,0.294059,1.806974e-01
max,2.652563e+00,2.582709e+00,2.704110e+00,2.639723e+00,2.635494,5.872385e+00